<div class="movie_row" data-genre-number="<%= genre_number %>">
	<div class="left_col_index">
		<% if genre_href == "ninety" %>
			<div  class="row_title" style="text-decoration:none;color:#888888;"><%= title %></div>
		<% else %>
			<a href="/g/<%= genre_href %>" class="row_title"><%= title %></a>
		<% end %>
	</div>
	<%= render partial: "shelf", locals: {movies: movies} %>
	<div class="refresh"></div>
</div>
