<div class="poster_container">
	<img class="poster" src="<%= movie.poster %>">
	<div class="rt_corner">
		<div class="mini_tomato"></div>
		<div class="corner_rating"><%= movie.critic_rating %></div>
	</div>
	<div class="cover_more_info" data-id="<%= movie.id %>" data-title="<%= movie.title %>" data-synopsis="<%= movie.synopsis %>" data-year="<%= movie.year %>" data-mpaa="<%= movie.mpaa %>" data-cast="<%= movie.cast %>" data-directors="<%= movie.director %>" data-critic-rating="<%= movie.critic_rating %>" data-critic-consensus="<%= movie.critic_consensus %>" data-audience-rating="<%= movie.audience_rating %>" data-netflixsource="<%= movie.netflixsource %>" data-genres="<%= movie.genres %>" data-runtime="<%= movie.runtime %>" data-review-count="<%= movie.review_count %>" data-rotten-tomatoes-id="<%= movie.rotten_tomatoes_id %>" data-poster="<%= movie.poster %>"></div>
</div>