<div class="whitewrap">
	<div class="movie">
		<div class="left_col">
			<div class="poster_container">
				<img class="poster" src="<%= movie.poster %>">
				<a class="play_netflix" href="http://www.netflix.com/WiMovie/<%= movie.netflixsource %>"><div class="play_button"></div></a>
			</div>
			<div class="under_poster">
				<div class="genres"><span class="people_lead">Genre</span> <span class="people" id="genres"><%= @genres %></span></div>
				<div class="director"><span class="people_lead">Director</span> 
					<span id="directors">
						<% movie.director.split(', ').each do |director| %>
							<a class="people linked" href="http://www.google.com/#q=<%= director %>"><%= director %></a>
						<% end %>
					</span>
				</div>
				<div class="cast"><span class="people_lead">Cast</span> 
					<span id="cast">
						<% movie.cast.split(', ').each do |cast| %>
							<a class="people linked" href="http://www.google.com/#q=<%= cast %>"><%= cast %></a>  
						<% end %>
					</span>
				</div>
			</div>
		</div>
		<div class="movie_info_container">
			<a class="rating_container" data-rotten-tomatoes-id="<%= movie.rotten_tomatoes_id %>" id="rt_link" href="<%= @rt_link %>" title="Go to the movie's Rotten Tomoatoes page.">
				<div class="critic_section">
					<div class="rating_holder critic_tomato">
						<div class="big_number" id="critic_score"><%= movie.critic_rating %><span class="small">%</span></div>
						<div class="below_rating" id="review_count"><%= movie.review_count %> critic reviews</div>
					</div>
				</div>
				<div class="audience_section">
					<div class="rating_holder <%= @audience_class %>" id="popcorn_bucket">
						<div class="big_number" id="audience_score"><%= movie.audience_rating %><span class="small">%</span></div>
						<div class="below_rating" id="audience_label">audience score</div>
					</div>
				</div>
			</a>
			<div class="film_title"><%= movie.title%></div>
			<div class="under_title">

				<span class="year_release"><%= movie.year%></span>
				<span class="runtime"><%= movie.runtime %>min</span>
				<span class="mpaa"><%= movie.mpaa %></span>
			</div>
			<div class="synopsis"><%= movie.synopsis %></div>
		</div>
	</div>
</div>

<div class="bottom_wrap">
	<div class="center_col">
			<div class="center_col" style="float:left">
				<div class="left_col">
					<div class="big_tomato"></div>
				</div>
				<div class="review_wrap">
					<div class="reviews_container">
						<div class="critic_header">
							<h2 class="consensus_header">Consensus</h2>
							<span class="critic_consensus">"<%= movie.critic_consensus %>"</span>
						</div>
					</div>
					<!-- <div class="get_reviews">See more reviews</div> -->
				</div>
			</div>
		</div>
</div>