<div class="whitewrap">
	<div class="movie">
		<div class="left_col">
			<div class="poster_container">
				<img class="poster" src="<%= @movie.poster %>">
				<a class="play_netflix" href="http://www.netflix.com/WiMovie/<%= @movie.netflixsource %>"><div class="play_button"></div></a>
			</div>
			<div class="under_poster">
				<div class="genres"><span class="people_lead">Genre</span> <span class="people" id="genres"><%= @genres %></span></div>
				<div class="director"><span class="people_lead">Director</span> <span class="people" id="directors"><%= @movie.director %></span></div>
				<div class="cast"><span class="people_lead">Cast</span> <span class="people" id="cast"><%= @movie.cast %></span></div>
			</div>
		</div>
		<div class="movie_info_container">
			<a class="rating_container" id="rt_link" href="<%= @rt_link %>" title="Go to the movie's Rotten Tomoatoes page.">
				<div class="critic_section">
					<div class="rating_holder critic_tomato">
						<div class="big_number" id="critic_score"><%= @movie.critic_rating %><span class="small">%</span></div>
						<div class="below_rating" id="review_count"><%= @movie.review_count %> critic reviews</div>
					</div>
				</div>
				<div class="audience_section">
					<div class="rating_holder <%= @audience_class %>" id="popcorn_bucket">
						<div class="big_number" id="audience_score"><%= @movie.audience_rating %><span class="small">%</span></div>
						<div class="below_rating" id="audience_label">audience score</div>
					</div>
				</div>
			</a>
			<div class="film_title"><%= @movie.title%></div>
			<div class="under_title">

				<span class="year_release"><%= @movie.year%></span>
				<span class="runtime"><%= @movie.runtime %>min</span>
				<span class="mpaa"><%= @movie.mpaa %></span>
			</div>
			<div class="synopsis"><%= @movie.synopsis %></div>
		</div>
	</div>
</div>

<div class="bottom_wrap">
	<div class="center_col">
			<div class="center_col" style="float:left">
				<div class="left_col">
					<div class="big_tomato"></div>
				</div>
				<div class="review_wrap">
					<div class="reviews_container">
						<div class="critic_header">
							<h2 class="consensus_header">Consensus</h2>
							<span class="critic_consensus">"<%= @movie.critic_consensus %>"</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
</div>

<div class="filter"><div class="filter_word">Genres</div></div>
<div class="redraw" data-rotate="360" title="re-draw"></div>
<div class="genre_container">
	<div class="close_genre">
		x
	</div>
	<div class="genre_list">
		<div class="a_genre selected_genre" style="font-size:30px;" data-genre-number="1">All</div>
		<div class="a_genre" data-genre-number="2">Drama</div>
		<div class="a_genre" data-genre-number="3">Romance</div>
		<div class="a_genre" data-genre-number="4">Comedy</div>
		<div class="a_genre" data-genre-number="5">Mystery & Suspense</div>
		<div class="a_genre" data-genre-number="6">Action & Adventure</div>
		<div class="a_genre" data-genre-number="7">Documentary</div>
		<div class="a_genre" data-genre-number="8">Horror</div>
		<div class="a_genre" data-genre-number="9">Art House & International</div>
		<div class="a_genre" data-genre-number="10">Science Fiction & Fantasy</div>
		<div class="a_genre" data-genre-number="11">Animation</div>
		<div class="a_genre" data-genre-number="12">Kids & Family</div>
		<div class="a_genre" data-genre-number="13">Classics</div>
		<div class="a_genre" data-genre-number="14">Cult Movies</div>
	</div>
</div>