<% @movies.each do |movie| %>
	<div><%= movie.title%></div>
	<div><%= movie.year%></div>
	<div><%= movie.synopsis %></div>
	<div>critic: <%= movie.critic_rating %></div>
	<div>critic consensus: <%= movie.critic_consensus %></div>
	<div>review count: <%= movie.review_count %></div>
	<div>audience: <%= movie.audience_rating %></div>
	<div>cast: <%= movie.cast %></div>
	<div>director: <%= movie.director %></div>
	<div><a href="http://www.netflix.com/WiMovie/<%= movie.netflixsource %>">go to netflix</a></div>
	<br><br><br>
<% end %>